body {
  color: #000;
}
input {
  cursor: pointer;
}
h1 {
  font-style: italic;
  color: #000a7c;
}
h2 {
  border: 2px solid #3d3d3d;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

h2:hover {
  color: #fff;
  transition: .3s ease-in-out;
  background-color: #3d3d3d;
}